<!-- <div class="bgimgBreakFast" [ngStyle]="{'background-image': 'url(' + cov + ')'}"> -->
  <!-- <div class="bgimgBreakFast" [ngStyle]="{'background-image': 'url(' + cov + ')'}"> -->
    <div *ngIf="cov==undefined" class="bgimgBreakFast" >
  
      <!-- <div class="bgimgBreakFast"> -->
   
   
     <div class="topNav">
       <ul>
         <li *ngIf="overlap==false && emptymenu==false">
           
   
             <a style="cursor: pointer;" (click)="open_modal()" >Menu</a>
   
         
         </li>
         <li *ngIf="overlap==false && emptymenu==true">
   
            
             <a style="cursor: pointer;" (click)="open_modal1()">Menu</a>
         
         
         </li>
         <li *ngIf="overlap==true">
   
            
          <a style="cursor: pointer;" (click)="open_modal2()">Menu</a>
      
      
      </li>
         <li><a>Birthday/Anniversary</a></li>
       </ul>
     </div>
     <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
   
     <!-- Modal -->
     <div class="modal fade modalCustom" id="MyModal" role="dialog">
       <div class="modal-dialog modalDialogCustom">
   
         <div class="modal-content">
   
           <button type="button" class="close closeCustom" data-dismiss="modal">&times;</button>
   
   
           <div class="modal-body">
             <div>
               <div class="menuSecGroup">
                 <div class="menuSecGroupImg"><img src="../../../assets/dynemicmenu/images/breakfast_2.jpg" alt=""></div>
                 <div class="menuSecGroupTitle">
                   <h5></h5>
                 </div>
                 <div class="menuSecGroupList">
                   <div class="menuSecGroupListGroup">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
   
                       <tr >
                         <td class="menuName"></td>
                         <td class="menuPrice">$12</td>
                       </tr>
   
                     </table>
                     <p class="descroption">Choice of bacon or chorizo with scrambled eggs, potatoes & cheese, wrapped in a
                       flour tortilla Served with breakfast potatoes or fresh fruit</p>
                   </div>
   
                   <div class="menuSecGroupListGroup">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
   
                       <tr>
                         <td class="menuName">LOX BAGEL</td>
                         <td class="menuPrice">$12</td>
                       </tr>
   
                     </table>
                     <p class="descroption">Cold smoked salmon, tomato, cucumber, avocado, capers, red onion & cream cheese
                     </p>
                   </div>
   
                   <div class="menuSecGroupListGroup">
                     <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
   
                       <tr>
                         <td class="menuName">STEEL CUT OATS BREAKFAST</td>
                         <td class="menuPrice">$12</td>
                       </tr>
   
                     </table>
                     <p class="descroption">Warm oats, brown sugar, dried cranberries & candied pecans. One egg any style
                       and choice of bacon, ham or sausage</p>
                   </div>
   
                 </div>
   
               </div>
   
             </div>
           </div>
   
         </div>
   
       </div>
     </div>
   
     <div class="navbarBotomNav">
       <ul>
         <li><a href="#">Laguna Village Shops</a></li>
         <li><a href="#">Entertainment</a></li>
         <li><a href="#">Laguna Beach FUN Directory</a></li>
       </ul>
     </div>
   
     <div class="mainContainerFront text-center" >
       <!-- top image -->
       <!-- <img src="../../../assets/dynemicmenu/images/the_cliff_logo.png" alt="" class="logoImg">  -->
       <div class="logoImg"><img src="{{topimage}}" class="topSectionLogo" alt=""></div>
       <div class="notificationBelowLogo"  *ngIf="sp_posid==1" [ngStyle]="{'background-color':sp_back}">
        <h2 [ngStyle]="{'color':sp_font}"><i class="fa fa-bell" aria-hidden="true"></i>  {{sp_head}}</h2>
        <p [ngStyle]="{'color':sp_font}">{{sp_notice}}</p>
     
      </div>
     </div>
     <center>
    <p class="dayMsg">  {{greet}} </p> 
    

     </center>
     <footer class="footerFront">
       <p>Powered by <a href="#">Shop Local Laguna</a> and <a href="#">Info Quick</a><br>
         Photo: <a href="#">Cindy Ferguson</a>
       </p>
     </footer>
   </div>
   <div *ngIf="cov!=undefined" class="bgimgBreakFast" [ngStyle]="{'background-image': 'url(' + cov + ')'}" >
  
    <!-- <div class="bgimgBreakFast"> -->
 
 
   <div class="topNav">
     <ul>
       <li *ngIf="overlap==false && emptymenu==false">
         
 
           <a style="cursor: pointer;" (click)="open_modal()" >Menu</a>
 
       
       </li>
       <li *ngIf="overlap==false && emptymenu==true">
 
          
           <a style="cursor: pointer;" (click)="open_modal1()">Menu</a>
       
       
       </li>
       <li *ngIf="overlap==true">
 
          
        <a style="cursor: pointer;" (click)="open_modal2()">Menu</a>
    
    
    </li>
       <li><a>Birthday/Anniversary</a></li>
     </ul>
   </div>
   <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->
 
   <!-- Modal -->
   <div class="modal fade modalCustom" id="MyModal" role="dialog">
     <div class="modal-dialog modalDialogCustom">
 
       <div class="modal-content">
 
         <button type="button" class="close closeCustom" data-dismiss="modal">&times;</button>
 
 
         <div class="modal-body">
           <div>
             <div class="menuSecGroup">
               <div class="menuSecGroupImg"><img src="../../../assets/dynemicmenu/images/breakfast_2.jpg" alt=""></div>
               <div class="menuSecGroupTitle">
                 <h5></h5>
               </div>
               <div class="menuSecGroupList">
                 <div class="menuSecGroupListGroup">
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
 
                     <tr >
                       <td class="menuName"></td>
                       <td class="menuPrice">$12</td>
                     </tr>
 
                   </table>
                   <p class="descroption">Choice of bacon or chorizo with scrambled eggs, potatoes & cheese, wrapped in a
                     flour tortilla Served with breakfast potatoes or fresh fruit</p>
                 </div>
 
                 <div class="menuSecGroupListGroup">
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
 
                     <tr>
                       <td class="menuName">LOX BAGEL</td>
                       <td class="menuPrice">$12</td>
                     </tr>
 
                   </table>
                   <p class="descroption">Cold smoked salmon, tomato, cucumber, avocado, capers, red onion & cream cheese
                   </p>
                 </div>
 
                 <div class="menuSecGroupListGroup">
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
 
                     <tr>
                       <td class="menuName">STEEL CUT OATS BREAKFAST</td>
                       <td class="menuPrice">$12</td>
                     </tr>
 
                   </table>
                   <p class="descroption">Warm oats, brown sugar, dried cranberries & candied pecans. One egg any style
                     and choice of bacon, ham or sausage</p>
                 </div>
 
               </div>
 
             </div>
 
           </div>
         </div>
 
       </div>
 
     </div>
   </div>
 
   <div class="navbarBotomNav">
     <ul>
       <li><a href="#">Laguna Village Shops</a></li>
       <li><a href="#">Entertainment</a></li>
       <li><a href="#">Laguna Beach FUN Directory</a></li>
     </ul>
   </div>
 
   <div class="mainContainerFront text-center"  >
     <!-- top image -->
     <!-- <img src="../../../assets/dynemicmenu/images/the_cliff_logo.png" alt="" class="logoImg">  -->
     <div class="logoImg"><img src="{{topimage}}" class="topSectionLogo" alt=""></div>
     <div class="notificationBelowLogo" *ngIf="sp_posid==1" [ngStyle]="{'background-color':sp_back}">
      <h2 [ngStyle]="{'color':sp_font}"><i class="fa fa-bell" aria-hidden="true"></i> {{sp_head}}</h2>
      <p [ngStyle]="{'color':sp_font}">{{sp_notice}}</p>
   
    </div>
   </div>
   <center>
    <p class="dayMsg">  {{greet}} </p> 
   </center>
   <footer class="footerFront">
     <p>Powered by <a href="#">Shop Local Laguna</a> and <a href="#">Info Quick</a><br>
       Photo: <a href="#">Cindy Ferguson</a>
     </p>
   </footer>
 </div>
  
  
  
   <div id="id01" class="w3-modal">
     <div class="w3-modal-content modulCustom">
   
       <div class="modal-dialog modalDialogCustom">
   
         <div class="modal-content">
   
           <button type="button" class="close closeCustom" (click)="modalclose()">&times;</button>
   
   
           <div class="modal-body">
             <div class="menuSecGroup" *ngFor="let m of keyData">
               <div class="menuSecGroupImg"><img [src]="url1+'/'+m.img" alt=""></div>
               <div class="menuSecGroupTitle">
                 <h5>{{m.sec}}</h5>
               </div>
               <div class="menuSecGroupList">
               <div *ngFor="let m1 of m.itm; let i=index" class="menuSecGroupListGroup">
               <!-- <div class="menuSecGroupList"> -->
                 
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
   
                     <tr>
                       <td class="menuName">{{m1.item_name}}</td>
                       <td class="menuPrice">${{m1.item_price}}</td>
                     </tr>
   
                   </table>
                   <p class="descroption">{{m1.item_desc}}</p>
                 <!-- </div> -->
   
   
   
               
   </div></div>
   <div class="notification" *ngIf="sp_posid==3" [ngStyle]="{'background-color':sp_back}">
     <h2 [ngStyle]="{'color':sp_font}"><i class="fa fa-bell" aria-hidden="true"></i> {{sp_head}}</h2>
     <p [ngStyle]="{'color':sp_font}">{{sp_notice}}</p>
  
   </div>
             </div>
  
             <div class="notification" *ngIf="sp_posid==2" [ngStyle]="{'background-color':sp_back}">
              <h2 [ngStyle]="{'color':sp_font}"><i class="fa fa-bell" aria-hidden="true"></i> {{sp_head}}</h2>
              <p [ngStyle]="{'color':sp_font}">{{sp_notice}}</p>
           
            </div>
   
   
           </div>
           
   
         </div>
   
       </div>
   
     </div>
   </div>
   
   <div id="id02" class="w3-modal modalCustom">
    <div class="w3-modal-content modalDialogCustom">
  
      <div class="modal-dialog modalDialogCustom">
  
        <div class="modal-content">
  
          <button type="button" class="close closeCustom" (click)="modalclose()">&times;</button>
  
  
          <div class="modal-body">
            <div class="noMenuSecGroup" >
              <div class="noMenuImg"><img _ngcontent-chx-c163="" alt="" src="/assets/images/noMenu.png"></div>
              <div class="noMenuImgtitle">
                <h2>No Menu Available</h2>
              </div>
              <div>
              
  </div>
            </div>
  
  
          </div>
          
  
        </div>
  
      </div>
  
    </div>
  </div>
   <div id="id03" class="w3-modal modalCustom">
     <div class="w3-modal-content modalDialogCustom">
   
       <div class="modal-dialog modalDialogCustom">
   
         <div class="modal-content">
   
           <button type="button" class="close closeCustom" (click)="modalclose2()">&times;</button>
   
   
           <div class="modal-body">
             <div class="menuSecGroup" >
               <div class="menuSecGroupImg"><img _ngcontent-chx-c163="" alt="" src="http://localhost:3000/1_1_sectionChoice_of Burgers_sec_bf_1.jpg"></div>
               <div class="menuSecGroupTitle">
                 <h6>Please make a choice:</h6>
               </div>
               <div>
               <div class="menuSecGroupListNew">
                 <div class="menuSecGroupListGroupNew">
                   <table width="100%" border="0" cellspacing="0" cellpadding="0" class="menuTable">
   
                     <tr *ngFor="let i of overlapData" class="menuAllListTr">
                       <td class="menuAllList">
                         <h3>{{i.menu_description}} <span>{{i.start_time}} to {{i.end_time}} </span></h3>
                         <button (click)="open_menu(i.menu_id,i.start_time,i.end_time);modalclose2()">
                           View Menu
                         </button></td>
                       
                     </tr>
   
                   </table>
                   <!-- <p class="descroption">{{m1.item_desc}}</p> -->
                 </div>
   
   
   
               </div>
   </div>
             </div>
   
   
           </div>
           
   
         </div>
   
       </div>
   
     </div>
   </div>
   
   