<div class="w3-white">

    <!-- Top container -->
    <!-- <div class="w3-bar w3-top w3-highway-blue w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey"
            onclick="w3_open();"><i class="fa fa-bars"></i>  Help</button>
        <span class="w3-bar-item w3-right">SLL Platform</span>
    </div> -->


    <div class="w3-bar w3-top w3-highway-blue w3-large" style="z-index:4;height:42px">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Help</button>
        <span class="w3-bar-item w3-left">Welcome, {{this.name}}</span>
        <span class="w3-bar-item w3-right">SLL Platform</span>
      </div>
    <!-- <?php echo file_get_contents("navigation-setup.html"); ?> -->
    <app-menu-setup-sidebar></app-menu-setup-sidebar>
  
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer"
        title="close side menu" id="myOverlay"></div>
       
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">

        <!-- Header -->
        <header class="w3-container" style="padding-top:22px"><br>
            <p><strong>Thank You for your payment and participation!</strong><br>
                You can now begin to set-up your platform. Please follow the simple steps below. If you have any
                problems, please do not hesitate to email us: <a
                    href="mailto:Support@shoplocallaguna.com">Support@ShopLocalLaguna.com</a></p>
            <h5><b><i class="fa fa-wpforms"></i> Restaurant - MENU Platform SET-UP</b></h5>
        </header>
        <div class="w3-container w3-white w3-padding-24">


            <div class="secDifer">
                <label class="titleCustom"><strong>LOGO</strong></label>

                <!-- <input type="checkbox" id="logo" name="logo" value="Logo"> -->
                <label for="logo"><strong>Logo File</strong></label><br>
                <p>Upload your logo which needs to be in JPG or PNG format :</p>
                <!-- <form > -->
                    <label for="myfile">Select files:</label>
                    <input type="file" id="myfile" [disabled]="break_button" name="myfile" (change)="selectimage($event)">
                    <i type="button" [hidden]="logo_preview" class="fa fa-picture-o fa-2x" aria-hidden="true"  data-bs-toggle="modal" data-bs-target="#myModal"></i>

                    <!-- <button (click)="downloadImage()">Preview</button>  -->
                    <br>


                    <strong><u>OR</u></strong><br>

                    <!-- <input type="checkbox" id="logo2" name="logo2" value="Logo Link"> -->
                    <label for="logo2"> <strong>Logo Url</strong></label>
                    <p>Please provide a url/website address where we can collect your logo.</p>
                    <form>
                        <label for="url">Enter the url:</label>
                        <input type="text" id="url" name="url" value="{{log_url}}" size="28" #logo
                        [disabled]="break_button"
                        (keyup)="checkvalidity($event)" (change)="checkvalidity($event)"><br>
                    </form>
                    <p style="font-style: italic">If we cannot collect the logo from your web site, we will contact you
                    </p>

          
            </div>


            <button  class="w3-button w3-green" type="submit" (click)="goto_MenuDatapage(logo.value)" [disabled]="value_logo_url">Submit</button>


        </div>
        <!-- <?php echo file_get_contents("footer.html"); ?>	 -->







        <br>
     
    </div>

    <!-- End page content -->



</div>

<div id="snackbar">Something Went Wrong Please Try After Sometime</div>

<!-- For the image of dinner Section -->
<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Image</h4>
          <!-- <button type="button" class="btn-close" data-bs-dismiss="modal"></button> -->
        </div>
  
        <!-- Modal body -->
        <div class="modal-body text-center">
            
                 <img src="{{img_logo}}"   height="70%" width="100%">
              
            </div>
  
        
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
         </div>
      </div>
</div>